
*{
	box-sizing: border-box;
	position: relative;
}


.row{
	display: flex;
	flex-wrap: wrap;

}

.col-1-1{
	width: 100%;
}

.col-1-6{
	width: 16.66666%;
}

.col-1-4{
	width: 23%;
	margin: 0 auto;
}
.col-1-3{
	width: 31%;
	margin: 2px auto;
	
}
.col-1-2{
	width: 48%;
	margin:2px auto;
}


.header{
	width: 100%;
	height: 80px;
	border-bottom: 2px solid gray;
	padding-bottom: 12px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	background-color: white;

}




.nav{
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

.nav .nav-item{
	float: left;
	padding: 8px 0;

    list-style: none;

}

.nav .nav-item .nav-link{

	font-size: 12px;
	padding: 4px 12px;
    font-weight: bold;
	padding-left: 10px;
	text-decoration: none;
	color: black;
	transition: 0.1s;
}
.logo .logo-link{
	float: left;
	padding: 10px;
	padding-left:20px;
	margin: 8px 0;
}

.nav .nav-item:hover{
	background-color: 	#2894ff;
}

.nav .nav-item .nav-link:hover{
	color: white;
}

@media (max-width: 1200px){
	.navbar .nav{
		/*display: none;*/

		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color:white;
		z-index: 500;

		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
		visibility: hidden;
		transition: all 0.2s;
	}
	.js-dropdown-content.active{
	opacity: 1;
	visibility: visible;
	}
	.navbar .nav .nav-item{
		float: none;
		margin: 0 auto;
	}
	.navbar .nav .nav-item .nav-link{
		width: 100%;
		padding: 24px 120px;
		text-align: center;
	}
}

.menu-toggle{
	width: 48px;
	height: 48px;
	display: none;
	/*float: right;*/
	margin-top: 8px;
	padding: 12px 8px;
	position: absolute;
	top: 0;
	right: 16px;
	z-index: 550;
}
.menu-toggle span{
	width: 32px;
	height: 2px;
	display: block;
	background-color: 	#2894ff;
	margin-bottom: 8px;
	transition: all 0.3s;
}
.menu-toggle span:nth-child(1){
	position: absolute;
	top: 12px;
	left: 8px;
}
.menu-toggle span:nth-child(2){
	position: absolute;
	top: 22px;
	left: 8px;
}
.menu-toggle span:nth-child(3){
	position: absolute;
	top: 32px;
	left: 8px;
}
.js-dropdown-btn.active span:nth-child(1){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.js-dropdown-btn.active span:nth-child(3){
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}
.js-dropdown-btn.active span:nth-child(2){
	opacity: 0;
}
@media (max-width: 1200px){
	.menu-toggle{
		display: block;
	}

	
}

.btn{
	background-color:white;
	color: black;
	text-decoration: none;
	line-height: 28px;
	padding: 4px 12px;
}

.btn_2{
	background-color:	#2894ff;
	color: white;
	padding: 16px 12px
	font-size: 12px;

}

.btn_2:hover{
	background-color: rgba(0,0,0,0);
	color: white;
	border: 2px solid 	#2894ff;
	padding: 2px 10px;
}

.tag{
	background-color: white;
	color: black;
	text-decoration: none;
	line-height: 28px;
	padding: 4px 12px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
	transition: 0.3s;
	z-index: 200;

}

.tag:hover{
	background-color:	#2894ff;
	color:white;
}

.hero{
	padding: 80px 0;
}

@media (max-width: 1000px) {
	.hero{
		padding: 40px 0;
	}
	
}

.hero-gray{
	background-color: #e0e0e0;
}

.hero-green{
	background-color: 	#2894ff;
}

.home-item{
	padding-top: 150%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 12px;
	display: block;


}

@media (max-width: 1020px) {
	.home-item{
		margin: 20px 12px;
	}
	
}


.home-item p{
	font-size: 12px;
	color: white;
}

.home-item h2{
	color: white;
}
.home-item .block{
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 20px;
}
.container{
	display: block;
	padding: 0 15%;
}

.home .mask{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*-------about-------*/

.about-item{
	padding-left: 120px;
}

@media (max-width: 1020px) {
	.about-item{
		padding-left: 0;
	}
	
}

.about-item h4{
	display: inline-block;
	color: 	#2894ff;
	padding-left: 20px;
	font-size: 12px;
}
.about-item h2{
	font-size: 24px;

}
.about-item h4:before{
	display: block;
	border: 
}

.image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}

.image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/*--------courses--------*/

.courses .section-intro{
	text-align: center;
	margin-top: 40px;
}


.courses .section-intro h2{
	color: 	#2894ff;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
	margin-bottom: 20px



}

.courses .section-intro h4{
	color: black;
	font-size: 32px;
	line-height: 48px;
	margin-top: 0;
	padding-left: 0;
}

.courses .block{
	display: inline-block;
	width: 64px;
	height: 2px;
	background-color:	#2894ff;
		margin-top: 32px;
}


.courses .mask{
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.courses-info{

	padding: 4px 20px;
	height: 100px;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(107,218,149,0.9);
}



.courses .box{
	padding-top: 150%;
	-webkit-background-size: cover;
	margin: 0 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 0px;

}

.courses .btn{
	position: absolute;
	bottom: 44px;
	font-size: 20px;
	left: 0;
	margin: 12px;
	background-color: rgba(0,0,0,0);
	color: white;
	text-decoration: none;
	padding-left: 8px;
	z-index: 50;
}

.courses .btn:hover{
    text-decoration: underline;
}

.courses .autoplay2 .block{
	color: white;
	background-color: rgba(0,40,148,0.9);
	width: 100%;
	height: 60px;
	position: absolute;
	bottom: 0;
	line-height: 60px;
	padding-left: 20px;
}

.course-info{
	padding-left: 20px;
	margin: 0 12px;
	text-decoration: none;
	padding: 20px 0;
	background-color: rgba(0,40,148,0.9);
	color: white;
	padding-left: 20px;
} 








/*------------gallery-------*/


.gallery .section-intro h2,h4{
    padding-left: 160px;
}


.gallery h2{
	color: 	#2894ff;
	font-size: 12px;
	margin-bottom: 8px;
}

.gallery h4{
	font-size: 24px;
	margin-top: 0;
	display: inline-block;
	padding-left: 0;
}

.gallery .block{
	background-color:	#2894ff;
	display: inline-block;
	width: 56px;
	height: 2px;
	margin-left: 100px;
	margin-bottom: 10px;
}


.gallery .col-1-3{
	-webkit-background-size: contain;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	padding-top: 25%;
}

@media (max-width: 1020px) {
	.gal-col{
		margin:10px auto;
	}
	
}

@media (max-width: 768px) {
	.gal-col{
		margin: 5px auto;
	}
	
}

.gal-info{
	
	text-align: center;
	background-color:	#2894ff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	width: 90%;

	padding: 16% 0;
}

@media (max-width: 1020px) {

	.gal-info{
		padding: 12% 0;
	}
}

@media (max-width: 768px) {
	.gal-info{
		padding: 8% 0;
	}
}
@media (max-width: 375px) {
	.gal-info{
		padding: 2% 0;
	}
	
}

.gal-info:hover{
	opacity: 0.9;
	transition: 0.2s;
}



.gal-info a{
	color: white;
	text-decoration: none;
	font-size: 20px;


}

.gal-info p{
	color: #f0f0f0;
	font-size: 16px;
}

@media (max-width: 768px) {
	.gal-info a{
		font-size: 16px;
	}
	.gal-info p{
		font-size: 12px;
	}
}
@media (max-width: 375px) {
	.gal-info a{
		font-size: 12px;
	}
	.gal-info p{
		font-size: 8px;
	}
	
}




/*-------teacher------------*/



.teacher .section-intro{
	text-align: center;
}

.teacher .block{
	width: 80px;
	height: 2px;
	display: inline-block;
	background-color: white;
}

.teacher h2{
	font-size: 12px;
	color:yellow;
	margin-top: 0;
}

.teacher h4{
	font-size: 32px;
	color: white;
	margin-top: 12px;
	padding: 0;
	margin-bottom: 16px;
}

.teacher p{
	font-size: 12px;
	color:#fff;
	margin: 0;
	margin-bottom: 30px;
}

.teacher .row{
	overflow: hidden;
}

.teacher .col-1-4{
	padding: 20px;
	text-align: center;
	background-color: white;
	margin-bottom: 20px;
}

.teacher .image-container:before{
	padding-top: 150%;
}

.teacher h3{
	color:	#2894ff;
	font-size: 12px;
	margin-top: 20px;
}

.teacher h5{
	color: black;
	font-size: 20px;
	margin: 20px 0;
}

.teacher .row p{
	color:black;
	font-size: 12px;
}

.teacher .box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color:	#2894ff;
	padding: 20px;
	transition: 0.1s;
}

.teacher .box h3{
	color: white;
}

.teacher .box h5{
	color: white;
}

.teacher .box p{
	color: white;
}

.teacher .box:hover{
	opacity: 0;
}



/*-------------offer-----------*/


.offer .section-intro{
	text-align: center;
}

.offer .section-intro .block{
	width: 80px;
	height: 2px;
	display: inline-block;
	background-color:	#2894ff;
}

.offer h2{
	margin: 10px 0;
	color: black;
	font-size: 12px;
}

.offer .section-intro h4{
	font-size: 24px;
	margin:10px 0;
	padding: 0;
}



.offer .regular .col-1-3{
	text-align: center;
	background-color: white;

}

.offer .regular .col-1-3 h3{
	color: #6bda95;
	font-size: 20px;
}

.offer .regular .col-1-3 h2{
	margin:0;
	font-size: 12px;
}

.offer .regular .col-1-3 h5{
	margin: 16px 0;
	font-size: 20px;
}

.offer .regular .col-1-3 p{
	font-size: 12px;
	color: gray;
}

.offer .regular .col-1-3 .block{
	display: block;
	background-color:	#2894ff;
	width: 48px;
	height: 8px;
	margin: 0 auto;
}


.offer .regular .col-1-3 .btn{
	border: 4px solid 	#2894ff;
	width: 128px;
	height: 64px;
	font-size: 12px;
	background-color: 	#2894ff;
	color: white;
	line-height: 56px;
	margin: 16px auto;
	padding: 0;
	transition: 0.1s;

}

.offer .regular .col-1-3 .btn:hover{
	background-color: white;
	color:	#2894ff;
}











/*-----------partner------------*/

.parent .col-1-2{
	margin-bottom: 20px;
}


.parent .col-1-2 .par-h2{
	font-size: 12px;
	margin-left: 80px;
	color:	#2894ff;
	padding-top: 20px;
}

.parent .col-1-2 h4{
	font-size: 32px;
	color: black;
	
	padding: 0;
	margin: 0;


}

.parent .col-1-2 .block{
	width: 80px;
	height: 2px;
	background-color:	#2894ff;
	padding-left: 40px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.parent .col-1-2 p{
	font-size: 16px;
	color: gray;
	margin-top: 20px;
}

@media (max-width: 1020px) {
	.par-row{
		text-align: center;
	}

	.par-h2{
		margin-left: 0;
	}
	
}


.parent .col-1-6 .box{
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
    
    height: 100px;
	margin: 20%;

}


/*--------------------blog-----------*/




.blog .col-1-2 .image-container:before{
    

    padding-top: 55%;

}

.blog .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.blog .mask:hover{
	background-color: rgba(0,0,0,0);
	transition: 0.4s;
}

.blog h4{
	color:	#2894ff;
	display: inline-block;
	font-size: 32px;
	margin-top: 30%;
	padding-left:80px;
	margin-bottom: 0;
}

.blog h2{
	color: white;
	display: inline-block;
	font-size: 20px;
	padding-left: 20px;
	margin-bottom: 0;

}

.blog p{
	font-size: 16px;
	color: #f0f0f0;
	padding-left: 180px;
}


/*---------------contact---------------------*/
.contact{
	margin-bottom: 80px;
}

.contact h4{
	color:	#2894ff;
	padding: 0;
	font-size: 32px;
	text-align: center;
}

.form{
	margin: 0 auto;
	max-width: 700px;
}
.form-item{
	display: flex;
	margin-top: 32px;
	align-items: center;
}

.form-input{
	flex: 1;
	line-height: 32px;
	padding: 0 8px;
	
	background-color: transparent;
	border: 0;
	border-bottom:  1px solid 	#2894ff;
	color:	#2894ff;
	outline: none;


}



/*---------------map-------------------------*/


.map{
	height: 500px;
}


/*---------------footer--------------------*/


.footer{
	background-color:	#2894ff;
	padding: 80px 0;

}

.footer p{
	color: white;
	padding-top: 80px;
}



.footer .logo a{
	height:64px;
	width: 100%;
	position: absolute;

	top: 0;
	left: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}





.footer h2{
	font-size: 16px;
	color: white;

}

.footer .col-1-1 .col-1-2{
	width: 48%;

}

.footer .col-1-1 h4{
    padding: 0;
	margin: 0;
	color: yellow;
	font-size: 12px;
	padding-left: 12px;
	line-height: 28px;

}

.footer .col-1-1 a{
	font-size: 12px;
	text-decoration: none;
	color: white;
	padding-left: 12px;
	margin-bottom: 8px;
}

.footer ul{
	padding-left: 4px;
}

.footer li{
	color: white;
	font-size: 14px;
	line-height: 28px;
	list-style: none;
}




.footer .col-1-3{
    padding-top: 25%;
	
    
	background-position:center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
@media (max-width: 1020px) {
	.footer .col-1-3{
		padding-top: 50%;
	}
	
}
@media (max-width: 768px) {
	.footer .col-1-3{
		padding-top: 75%;
	}
	
}

.footer .mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.footer .mask:hover{
	background-color: rgba(0,0,0,0);
	transition: 0.3s;
}


@media (max-width: 1020px) {
	.col-md-1{
		width: 100%;
	}

	.col-md-2{
		width: 48%;
		margin: 2px auto;
	}

	.col-md-4{
		width: 25%;
	}
	
}

@media (max-width: 768px) {
	.col-sm-1{
		width: 100%;
	}

	.col-sm-2{
		width: 50%;
	}
}












